<div class="bg"></div>
<div id="resp-menu">
  <div class="nav-control">
    {{#link-to 'places.index' class="back"}}{{/link-to}}
  </div>
  <li><a {{action 'goToPlaces'}}>places</a></li>
  <li>{{#link-to 'about'}}about{{/link-to}}</li>
</div>
