<header>
  <h1>{{#link-to 'index'}}Reciclame{{/link-to}}</h1>
  <nav>
    <li>{{#link-to 'places'}}places{{/link-to}}</li>
    <li>{{#link-to 'about'}}about{{/link-to}}</li>
  </nav>
  <div class="mob-menu">
    <div id="resp-menu">
      <li>{{#link-to 'places'}}places{{/link-to}}</li>
      <li>{{#link-to 'about'}}about{{/link-to}}</li>
    </div>
  </div>
</header>
<div class="clear"></div>
<aside>
  {{outlet sidebar}}
</aside>
  {{view Reciclame.MapView}}
