<header>
  <h1>{{#linkTo 'index'}}Reciclame{{/linkTo}}</h1>
  <nav>
    <li>{{#linkTo 'places'}}places{{/linkTo}}</li>
    <li>{{#linkTo 'about'}}about{{/linkTo}}</li>
  </nav>
</header>
<div class="clear"></div>
<aside>
  {{outlet sidebar}}
</aside>
  {{outlet map}}
