<header>
  <h1>{{#linkTo 'index'}}Reciclame{{/linkTo}}</h1>
</header>

<nav>
  <li>{{#linkTo 'places'}}places{{/linkTo}}</li>
  <li>{{#linkTo 'about'}}about{{/linkTo}}</li>
</nav>
{{outlet}}
<div id="map"></div>
