<header>
  <h1>{{#linkTo 'index'}}Reciclame{{/linkTo}}</h1>
  <nav>
    <li>{{#linkTo 'places'}}places{{/linkTo}}</li>
    <li>{{#linkTo 'about'}}about{{/linkTo}}</li>
  </nav>
  <div class="mob-menu">
    <div id="resp-menu">
      <li>{{#linkTo 'places'}}places{{/linkTo}}</li>
      <li>{{#linkTo 'about'}}about{{/linkTo}}</li>
    </div>
  </div>
</header>
<div class="clear"></div>
<aside>
  {{outlet sidebar}}
</aside>
  {{view Reciclame.MapView
    target = "Reciclame.MapController"
    action = "startMap"
  }}
