<div class="content">
  {{outlet}}
</div>

<div class="places">
  <h3>{{#linkTo 'places'}}Places{{/linkTo}}</h3>
  {{#each model}}
      <li class="place">
        {{#linkTo 'place' this}}{{name}}{{/linkTo}}
        <span> in {{address}} </span>
      </li>
  {{/each}}
</div>
