* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

body {
  overflow: hidden;
  font-size: 15px;
}

header {
  background: asset-url("header.png") repeat-x 0 0;
  height: 50px;
  box-shadow: 0px 2px 3px #000;
  max-width: 100%;
  z-index: 3;
}

h1 {

  a {
    color: #fff;
    float: left;
    padding: 10px;
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

aside {
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 1;
  //right: 0;
  top: 55px;
  float: left;
  background: #fff;
  border-left: 1px solid rgb(204, 204, 204);
  padding: 20px;
}

nav {
  height: 25px;
  float: right;
  margin: 10px;

  li {
    float: left;
    margin-left: 5px;
    list-style: none;
  
    a {
      font-size: 15px;
      padding: 5px;
      border-radius: 5px;
      background: rgb(124, 84, 63);
      color: #fff;

      &:hover {
        background: rgb(67, 104, 131);
        transform-property: background;
        transform-duration: 2s;
      }
    }
  }
}

.mob-menu, .mob {
  display: none;
}

.clear {
  clear: bottom;
}

#map {
  position: absolute;
  top: 55px;
  height: 100%;
  width: 100%;
  z-index: 0;
  /*overflow: hidden;*/
}

.on {
  display: block;
}

.off {
  display: none;
}

.nav-menu-opt {
  cursor: pointer;
}

.bg {
  display: block;
  width: 110%;
  max-height: 100%;
  z-index: 2;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: -55px;
  animation: showUp 1s;
}
