.content {
  margin: 10px 0;
  padding: 5px;
}

.places {
  overflow-y: scroll;
  max-height: 420px;

  li {
    list-style: none;
  }
}

.place {
  height: 50px;

  a {
    font-size: 14px;
    padding: 5px;
    display: block;

    &:hover {
      background: rgba(255,250,25,0.3);
      font-weight: bold;
    }
  }

  span {
    display: block;
    font-size: 12px;
    width: 95%;
    float: right;
    clear: both;
  }
}
