@media only screen and (min-width: 320px) and (max-width: 690px) {
  nav {
    display: none;
  }

  .places {
    display: none;
  }

  .place {
    height: 30px;

    span {
      display: none;
    }
  }

  .content {
    display: none;
  }

  aside {
    height: auto;
  }

  .mob-menu {
    display: block;
    float: right;
    margin: 3px;
  }

  .mob {
    display: block;
  }

 #resp-button {
    display: block;
    width: 32px;
    height: 32px;
    margin: 5px 10px 0px 0px;
    background: image-url('icn-menu.png') no-repeat;
    cursor: pointer;
  }

  #resp-menu {
    z-index: 3;
    position: absolute;
    top: -55px;
    right: 0px;
    width: 120px;
    height: 500px;
    background: rgba(0,0,0,0.7);
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    animation: slideIn 2s;

    li {
      list-style: none;
      display: block;
      float: none;
      color: #fff;
      padding: 5px 10px;

      a {
        width: 100%;
        height: 100%;
        float: left;
        color: #fff;
        padding: 10px;
        margin-left: 5px;

        &:hover {
          background-color: #247ac1;
          background-position: 94% 50%;
          background-repeat: no-repeat;
          background-image: -moz-linear-gradient(#43a6e2, #247ac1);
          background-image: -ms-linear-gradient(#43a6e2, #247ac1);
          background-image: -o-linear-gradient(#43a6e2, #247ac1);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43a6e2), color-stop(100%,#247ac1));
          background-image: -webkit-linear-gradient(#43a6e2, #247ac1);
          background-image: linear-gradient(#43a6e2, #247ac1);
          color: #fff;
          text-shadow: 1px 1px 0 rgba(0,0,0,.25);
        }
      }
    } 
  }

  #map {
    top: 120px;
  }

  .bg {
    display: block;
    width: 100%;
    height: 500px;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: -55px;
    left: -10px;
    animation: showUp 1s;
  }

  .nav-control {
    background: image-url('header.png') repeat-x 0 0;
    display: block;
    width: 100%;
    height: 40px;
    z-index: 3;
  }

  .back {
    display: block;
    width: 40px;
    height: 40px;
    background: image-url('back.png') no-repeat;
    background-position: 10px;
    float: left;
    padding: 0 5px;
    transform: rotate(180deg);
  }

  .back:hover, .back:active {
    background: image-url('back.png') no-repeat, rgba(0,0,0,0.2);
    background-position: 10px;
  }
}

/*
@media only screen and () and () {

}*/
