@media only screen and (min-width: 320px) and (max-width: 690px) {
  nav {
    display: none;
  }

  .places {
    display: none;
  }

  aside {
    height: auto;
  }

  .mob-menu {
    display: block;
    float: right;
    margin: 3px;
  }

  .mob {
    display: block;
  }

 #resp-button {
    display: block;
    width: 32px;
    height: 32px;
    margin: 5px 10px 0px 0px;
    background: url('icn-menu.png') no-repeat;
    cursor: pointer;
  }

  #resp-menu {
    z-index: 3;
    position: absolute;
    right: 5px;
    width: 100px;
    border-radius: 5px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 2px 0 4px #000;
    display: none;

    &:before {
      z-index: 3;
      content: "";
      display: block;
      width: 28px;
      height: 10px;
      background: url(menu-point.png) no-repeat;
      position: absolute;
      right: 10px;
      top: -10px;
    }

    li {
      list-style: none;
      display: block;
      float: none;

      a {
        padding: 10px 0;
        width: 100%;
        height: 100%;
        float: left;

        &:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }

        &:hover {
          background-color: #247ac1;
          background-position: 94% 50%;
          background-repeat: no-repeat;
          background-image: -moz-linear-gradient(#43a6e2, #247ac1);
          background-image: -ms-linear-gradient(#43a6e2, #247ac1);
          background-image: -o-linear-gradient(#43a6e2, #247ac1);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43a6e2), color-stop(100%,#247ac1));
          background-image: -webkit-linear-gradient(#43a6e2, #247ac1);
          background-image: linear-gradient(#43a6e2, #247ac1);
          color: #fff;
          text-shadow: 1px 1px 0 rgba(0,0,0,.25);
        }
      }
    } 
  }

  #map {
    top: 120px;
  }
}

/*
@media only screen and () and () {

}*/
